<div class="container">
    <div class="top">
        <div class="heading">
            <div class="title">
                AI Tools (Beta)<br>
            </div>
            <div class="sub-title">
                Powered BY Gemini Flash
            </div>
        </div>

        <div class="content" [innerHTML]="content"></div>
    </div>
    <div class="bottom">
        <div class="label">Pre defined Prompts:</div>
        <div class="pre-defined">
            <div class="prompt-input pre-defined-prompt" *ngFor="let prompt of preDefinedPrompts" (click)="changePrompt(prompt)">
                {{prompt}}
            </div>
        </div>
        <div class="label">Custom Prompt:</div>
        <div class="prompt">
            <input class="prompt-input" matInput placeholder="Enter your prompt" name="prompt" id="prompt" type="text" name="prompt" (keyup)="changeInput($event)" autocomplete="off">
            <button mat-raised-button color="custom" type="button" [ngClass]="{'disabled': isButtonDisabled}" [disabled]="isButtonDisabled" (click)="generate()">Generate</button>
        </div>
    </div>
</div>
