.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin: 3px 0px;
    background-color: #fefefe;
    position: sticky;
    top: 94px;
    height: calc(100dvh - 170px);
}

.top {
    align-items: center;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid red;
    border-bottom: 1px solid var(--accent-dark);
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

.sub-title {
    font-size: 14px;
    font-style: italic;
    color: #757575;
}

.prompt {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.prompt-input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--accent-dark);
    width: 100%;
    overflow-wrap: break-word;
    resize: none;

}

.prompt > button {
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    border-radius: 8px;
    padding: 3px;
    background-color: var(--accent-dark);
    color: var(--white);
}

.prompt > button.disabled {
    background-color: var(--white);
    color: #ababab;
    cursor: not-allowed;
}

.pre-defined {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    margin: 10px 0;
}

.pre-defined-prompt {
    width: fit-content;
    cursor: pointer;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.label {
    margin: 0 0 5px;
    font-weight: 400;
    color: #474747;
}

.content {
    overflow-y: auto;
    /* height: calc(100dvh - 420px); */
    padding: 16px;
    border-radius: 8px;
}

.content pre {
    white-space: pre-wrap;
}

.copy-container {
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
}

.copy {
    padding: 12px 20px;
    background-color: var(--accent-dark);
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.chat-tools-navigator {
    margin: 8px 0;
    padding: 8px;
    background-color: var(--accent-dark);
    color: var(--accent);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.link {
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
}

@media (max-width: 768px) {
    .container {
        height: calc(100dvh - 161.25px);
        top: unset;
    }

    .content {
        height: calc(100dvh - 465px);
    }
}