.close-button {
    background-color: var(--active);
    height: 50px;
    color: var(--white);
}

.word-container-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
    padding: 5px 0;
}

.word-container {
    display: flex;
    width: 20%;
    justify-content: space-between;
    border: 2px solid var(--accent)
}

.left,
.right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.red,
.green,
.basic {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 18px;
    border-top: 0.5px dashed var(--active);
    border-bottom: 0.5px dashed var(--active);
    padding: 10px 0;
}

.basic {
    color: var(--active);
}

.green,
.green-text {
    color: var(--green);
}

.red,
.red-text {
    color: var(--red);
}

@media (max-width: 768px) {
    .word-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border: 2px solid var(--accent);
        padding: 0 10px;
        gap: 5px;
    }
}