.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    top: 0;
    height: 50px;
    background: var(--white);
    box-shadow: 2px 0 8px rgba(84,96,135,0.04);
    border-bottom: 1px solid var(--accent);
    z-index: 1001;
}

.left {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 50px;
}

.toggle {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    margin-right: 4px;
}

.navbar-logo {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    object-fit: contain;
}

.navbar-title {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--accent-dark);
}

.hamburger {
    font-size: 22px;
}

.rating {
    font-size: 12px;
    color: var(--accent-dark);
}

.platform-img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    border-radius: 50%;
}

.app {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 900;
    font-size: large;
    color: var(--accent-dark);
}

.column-on-mobile {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .navbar-title {
        display: none;
    }
    .navbar-logo {
        display: none;
    }
    .column-on-mobile {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .bold {
        display: none;
    }
    .left {
        align-items: unset;
        gap: unset;
    }
    .navbar-container {
        height: unset;
        align-items: unset;
        padding: 0 12px;
    }
}