<div class="navbar-container">
    <div class="left">
        <div class="toggle" (click)="toggleSideBar()">
            <span *ngIf="!sidebar.getIsSidebarOpen()" class="hamburger">&#x2630;</span>
            <span *ngIf="sidebar.getIsSidebarOpen()">&#x2573;</span>
        </div>
        <span class="navbar-title">Reviews Dashboard</span>
    </div>
    <div class="column-on-mobile">
        <div class="histogram" *ngIf="data.getCurrentPage() != '-1' && data.getCurrentApp()?.name?.length > 0">
            <app-histogram [reviewsNo]="androidReviews.length + iosReviews.length"></app-histogram>
        </div>
        <div class="app" *ngIf="data.getCurrentPage() != '-1'">
            {{data.getCurrentApp()?.name?.length > 0 ? data.getCurrentApp().name : ""}}
            <img *ngIf="data.getCurrentApp()?.isIOS" src="assets/apple.jpg" alt="apple" class="platform-img">
            <img *ngIf="data.getCurrentApp().isIOS !=undefined && data.getCurrentApp().isIOS !=null && !data.getCurrentApp()?.isIOS"
                src="assets/android.jpg" alt="apple" class="platform-img">
            <span class="rating" *ngIf="data.getCurrentApp()?.rating">({{ + data.getCurrentApp().rating.toFixed(2)}} /
                5)</span>
        </div>
    </div>
</div>