<div class="navbar-container">
    <div class="left">
        <div class="toggle" (click)="toggleSideBar()">
            <span *ngIf="isSideBarOpen" class="hamburger">&#x2630;</span>
            <span *ngIf="!isSideBarOpen">&#x2573;</span>
        </div>
        <div class="brand">Review Dashboard</div>
    </div>
    <div class="app">{{data.getCurrentApp()?.name?.length > 0 ? data.getCurrentApp().name : "No app selected !"}}
        <img *ngIf="data.getCurrentApp()?.isIOS" src="assets/apple.jpg" alt="apple" class="platform-img">
        <img *ngIf="data.getCurrentApp().isIOS !=undefined && data.getCurrentApp().isIOS !=null && !data.getCurrentApp()?.isIOS"
            src="assets/android.jpg" alt="apple" class="platform-img">
        <span class="rating" *ngIf="data.getCurrentApp()?.rating">({{ + data.getCurrentApp().rating.toFixed(2)}} /
            5)</span>
    </div>
</div>