.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    height: 50px;
    background-color: var(--accent);
    /* border-bottom: 1px solid #e7e7e7; */
}

.left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.toggle {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 15px;
}

.brand {
    /* width: 30px; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
}

.hamburger {
    font-size: 20px;
}

.rating {
    font-size: 12px;
}

.platform-img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    border-radius: 50%;
}

.app {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 900;
    font-size: large;
}

.column-on-mobile {
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .brand {
        display: none;
    }

    .column-on-mobile {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .bold {
        display: none;
    }

    .left {
        align-items: unset;
        gap: unset;
    }

    .navbar-container {
        height: unset;
        align-items: unset;
    }
}