<div class="navbar-container">
    <div class="left">
        <div class="toggle" *ngIf="isMobile" (click)="toggleSideBar()"
            [attr.aria-label]="sidebar.getIsSidebarOpen() ? 'Close Menu' : 'Open Menu'">
            <span *ngIf="!sidebar.getIsSidebarOpen()" class="hamburger">&#x2630;</span>
            <span *ngIf="sidebar.getIsSidebarOpen()" class="close-icon">&#x2573;</span>
        </div>
        <img src="assets/logo.png" class="navbar-logo" alt="Reviews Dashboard Logo">
        <span class="navbar-title">Reviews Dashboard</span>
    </div>
    <div class="right-content" *ngIf="data.getCurrentPage() != '-1' && data.getCurrentApp()?.name?.length > 0">
        <div class="histogram" *ngIf="!isPhone">
            <app-histogram [reviewsNo]="androidReviews.length + iosReviews.length"></app-histogram>
        </div>
        <div class="app">
            <span class="app-name-text">{{data.getCurrentApp().name}}</span>
            <img *ngIf="data.getCurrentApp()?.isIOS" src="assets/apple.jpg" alt="iOS App" class="platform-img">
            <img *ngIf="data.getCurrentApp().isIOS != undefined && data.getCurrentApp().isIOS != null && !data.getCurrentApp()?.isIOS"
                src="assets/android.jpg" alt="Android App" class="platform-img">
            <span class="rating" *ngIf="data.getCurrentApp()?.rating">({{ + data.getCurrentApp().rating.toFixed(2)}} /
                5)</span>
        </div>
    </div>
</div>