.canvas-container {
    width: 100%;
    height: calc(100% - 70px);
}

.top-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuffle-button {
    background-color: var(--active);
    height: 50px;
    color: white;
}