<div class="top-container">
    <mat-form-field appearance="outline">
        <mat-label>{{shouldWait ? 'Loading apps '+currentApp + ' / '+totalApps :'Select App'}}</mat-label>
        <mat-select (selectionChange)="appSelected($event)">
            <mat-option *ngFor="let app of apps" [value]="app">
                {{app.appName}} - {{app.isIOS ? 'IOS': 'Android'}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading"
        (click)="redraw()">Shuffle</button>
    <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading" (click)="getWordReport()">Get
        Word Report</button>
        <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading" (click)="separateClouds()">
            {{showOne ? "Split Clouds" : "Merge Clouds"}}
        </button>
</div>

<div class="loading-container" *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="contain">
    <div class="canvas-container" [ngStyle]="{'width': showOne ? '100%': '50%'}">
        <div class="title" *ngIf="!!selectedApp && !loading">Top keywords (max 150)</div>
        <canvas id="canvas">{{chart}}</canvas>
    </div>
    
    <div class="canvas-container" *ngIf="!showOne" [ngStyle]="{'width': '50%'}">
        <div class="title" *ngIf="!!selectedApp && !loading">Sentiment keywords (max 150)</div>
        <canvas id="positive-canvas">{{positiveChart}}</canvas>
    </div>
</div>

<!-- <div class="canvas-container">
    <canvas id="negative-canvas">{{negativeChart}}</canvas>
</div> -->