<div class="container">
    <div class="all-apps-container">
        <mat-form-field appearance="outline">
            <mat-label>{{shouldWait ? 'Loading apps '+currentApp + ' / '+totalApps :'Select App'}}</mat-label>
            <mat-select (selectionChange)="appSelected($event)">
                <mat-option *ngFor="let app of apps" [value]="app">
                    {{app.appName}} - {{app.isIOS ? 'IOS': 'Android'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <app-loader *ngIf="loading"></app-loader>
    <div class="messages" id="messages" *ngIf="!loading">
        <div class="message" *ngFor="let message of history; let i = index;">
            <app-user-message class="w-75" *ngIf="message.role == 'user'" [message]="message.parts[0].text"></app-user-message>
            <app-model-message class="w-75" *ngIf="message.role == 'model'" [message]="message.parts[0].text" [hideOriginalMessage]="i == 1"></app-model-message>
        </div>
    </div>
    
    <div class="message-box shadows">
        <textarea class="prompt-input" matInput placeholder="Enter your message" name="prompt" id="prompt" type="text" name="prompt" [value]="message" (keyup)="changeInput($event)" autocomplete="off"></textarea>
        <button class="send-btn" mat-raised-button color="primary" type="button" [ngClass]="{'disabled': isButtonDisabled}" [disabled]="isButtonDisabled" (click)="sendMessage()">
            Send
            <mat-icon>
                send
            </mat-icon>
        </button>
    </div>
</div>
