<div class="container">
    <div class="all-apps-container">
        <mat-form-field appearance="outline">
            <mat-label>{{shouldWait ? 'Loading apps '+currentApp + ' / '+totalApps :'Select App'}}</mat-label>
            <mat-select (selectionChange)="appSelected($event)">
                <mat-option *ngFor="let app of apps" [value]="app">
                    {{app.appName}} - {{app.isIOS ? 'IOS': 'Android'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="how-to" *ngIf="!isAppSelected">
        <div class="title">
            How to use Chat tools
        </div>
        <div class="steps">
            <div class="step-item">
                <div class="step-number-container">
                    <div class="step-number">1</div>
                </div>
                <div class="step-content">Add an app if not added already.</div>
            </div>
            <div class="step-item">
                <div class="step-number-container">
                    <div class="step-number">2</div>
                </div>
                <div class="step-content">Need to add an app? <span class="link" routerLink="/add-app">Click here to add an app.</span></div>
            </div>
            <div class="step-item">
                <div class="step-number-container">
                    <div class="step-number">3</div>
                </div>
                <div class="step-content">Select the app from the app selector at the top.</div>
            </div>
            <div class="step-item">
                <div class="step-number-container">
                    <div class="step-number">4</div>
                </div>
                <div class="step-content">Wait for the chat to be initialized.</div>
            </div>
            <div class="step-item">
                <div class="step-number-container">
                    <div class="step-number">5</div>
                </div>
                <div class="step-content">You are all set. Continue your discussion with your AI buddy.</div>
            </div>
        </div>
    </div>

    <div class="messages" id="messages">
        <div class="message" *ngFor="let message of history; let i = index;">
            <app-user-message class="w-75" *ngIf="message.role == 'user'" [message]="message.parts[0].text" [hideOriginalMessage]="i == 0" [app]="selectedApp"></app-user-message>
            <app-model-message class="w-75" *ngIf="message.role == 'model'" [message]="message.parts[0].text" [hideOriginalMessage]="i == 1" [app]="selectedApp"></app-model-message>
        </div>
    </div>
    
    <div class="message-box-container">
        <app-loader *ngIf="loading"></app-loader>
        <div class="pre-defined" *ngIf="isAppSelected">
            <div class="prompt-input pre-defined-prompt" *ngFor="let prompt of preDefinedPrompts" (click)="changePrompt(prompt)">
                {{prompt}}
            </div>
        </div>
        <div class="message-box shadows">
            <input matInput placeholder="Enter your message..." name="prompt" id="prompt" type="text" [value]="message" (keydown)="changeInput($event)" autocomplete="off">
            <button class="send-btn" mat-raised-button color="primary" type="button" [ngClass]="{'disabled': isButtonDisabled}" [disabled]="isButtonDisabled" (click)="sendMessage()">
                <span>Send</span>
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</div>

