<div class="top-container">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Search App</mat-label>
            <input matInput placeholder="App Name" [value]="appName" (change)="appNameChange($event)">
        </mat-form-field>
        <mat-radio-group aria-label="Select platform" class="radio-group" (change)="platformSelect($event)">
            <mat-radio-button value="IOS" checked>
                <div class="platform">
                    <span class="name">IOS</span>
                    <span><img src="assets/apple.jpg" alt="apple" class="platform-img"></span>
                </div>
            </mat-radio-button>
            <mat-radio-button value="Android">
                <div class="platform">
                    <span class="name">Android</span>
                    <span><img src="assets/android.jpg" alt="apple" class="platform-img"></span>
                </div>
            </mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="custom" (click)="searchApp($event)">
            <div class="platform">
                <span>Search</span>
                <mat-icon>search</mat-icon>
            </div>
        </button>
    </form>
</div>

<div class="bottom-container">
    <div class="app" *ngFor="let app of apps">
        <div class="details" (click)="addApp(app)">
            <div class="inner-container">
                <div class="image">
                    <img [src]="app.icon" class="icon">
                </div>
                <div class="inner-details">
                    <div class="bold name">{{app.title}}</div>
                    <div class="grey">{{app.name}}</div>
                    <div class="grey">{{app.appId}}</div>
                    <div class="grey italic">{{app.developer}}</div>
                    <div class="grey italic bold">{{(app.score).toFixed(2)}} / 5</div>
                </div>
            </div>
        </div>
    </div>
</div>