.container {
    margin: 50px 0 0 0;
    width: 100%;
    padding: 10px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    background-color: var(--accent);
    height: calc(100vh - 50px);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .container {
        margin-top: 80px;
        padding: 0px 10px 50px;
    }
}