<div class="side-bar-container open" id="sidebar" [ngClass]="data.isLoading ? 'no-select' : 'selectable'">
    <!-- <div class="link shadows" routerLink="/">
        <img class="img" src="assets/home.jpg" alt="pie">
        Home
    </div> -->
    <div class="backdrop" *ngIf="data.isLoading"></div>
    <div class="link shadows" routerLink="/dashboard" [ngClass]="selectedDashboard ? 'active': ''"
        (click)="closeSideBar('dashboard')">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </div>
    <div class="link shadows" routerLink="/add-app" [ngClass]="selectedAddApp ? 'active': ''"
        (click)="closeSideBar('addApp')">
        <mat-icon>add</mat-icon>
        Add App
    </div>
    <div class="link shadows" routerLink="/word-cloud" [ngClass]="selectedWordCloud ? 'active': ''"
        (click)="closeSideBar('wordcloud')">
        <mat-icon>cloud</mat-icon>
        Generate Word-Cloud
    </div>
    <div class="link shadows" routerLink="/sentiment-cloud" [ngClass]="selectedSmartWordCloud ? 'active': ''"
        (click)="closeSideBar('smartwordcloud')">
        <mat-icon>sentiment_very_satisfied</mat-icon>

        <div class="app">
            <div class="name">
                Sentiment Word-Cloud
            </div>
            <div class="device">
                beta
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="apps-container">
        <div class="apps shadows" *ngFor="let app of apps" [ngClass]="app.isSelected ? 'active' : ''"
            (click)="deleteOrCompareApp(app)">
            <div class="link">
                <img [src]="app.icon" [alt]="app.name" class="img">
                <div class="app">
                    <div class="name">{{app.name}}
                        <div class="platform" *ngIf="shouldDelete || shouldCompare">
                            <img src="assets/android.jpg" *ngIf="!app.isIOS" alt="android" class="platform-img">
                            <img src="assets/apple.jpg" *ngIf="app.isIOS" alt="apple" class="platform-img">
                        </div>
                    </div>
                    <div class="device" *ngIf="!shouldDelete && !shouldCompare">
                        <div class="platform">
                            <img src="assets/android.jpg" *ngIf="!app.isIOS" alt="android" class="platform-img">
                            <img src="assets/apple.jpg" *ngIf="app.isIOS" alt="apple" class="platform-img">
                        </div>
                        <div class="rating"><span class="bold">{{app.rating.toFixed(2)}}</span> / 5</div>
                    </div>
                    <div class="checkbox" *ngIf="shouldDelete">
                        <mat-icon *ngIf="app.shouldDelete">check</mat-icon>
                    </div>
                    <div class="checkbox" *ngIf="shouldCompare">
                        <mat-icon *ngIf="app.shouldCompare">check</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="link shadows compare" (click)="compareApp()" *ngIf="!shouldCompare"
        [ngClass]="shouldDelete ? 'disable': '' ">
        <mat-icon class="dark-text">compare_arrows</mat-icon>
        Compare Apps
    </div>
    <div class="delete-container" *ngIf="shouldCompare">
        <div class="inner-delete grey" (click)="compareApp()">
            <div>Close</div>
            <mat-icon>close</mat-icon>
        </div>
        <div class="inner-delete green" (click)="reallyCompareApps()">
            <div>Compare</div>
            <mat-icon>compare_arrows</mat-icon>
        </div>
    </div>
    <div class="link shadows delete" (click)="deleteApp()" *ngIf="!shouldDelete"
        [ngClass]="shouldCompare ? 'disable': '' ">
        <img class="img" src="assets/delete.jpg" alt="delete">
        Delete Apps
    </div>
    <div class="delete-container" *ngIf="shouldDelete">
        <div class="inner-delete green" (click)="deleteApp()">
            <div>Close</div>
            <mat-icon>close</mat-icon>
        </div>
        <div class="inner-delete red" (click)="reallyDeleteApp()">
            <div>Delete</div>
            <mat-icon>delete_outline</mat-icon>
        </div>
    </div>
    <div class="link shadows" routerLink="/docs" [ngClass]="selectedDocumentation ? 'active': ''"
    (click)="closeSideBar('docs')">
        <mat-icon>description</mat-icon>
        About   
    </div>
</div>