<div class="side-bar-container open" id="sidebar">
    <!-- <div class="link shadows" routerLink="/">
        <img class="img" src="assets/home.jpg" alt="pie">
        Home
    </div> -->
    <div class="link shadows" routerLink="/dashboard">
        <img class="img" src="assets/pie-chart.jpg" alt="pie">
        Dashboard
    </div>
    <div class="link shadows" routerLink="/add-app">
        <img class="img" src="assets/plus.jpg" alt="pie">
        Add App
    </div>
    <!-- <hr> -->
    <div class="apps-container">
        <div class="apps shadows" *ngFor="let app of apps" (click)="openApp(app)">
            <div class="link">
                <img [src]="app.icon" [alt]="app.name" class="img">
                <div class="app">
                    <div class="name">{{app.name}}</div>
                    <div class="device">
                        <div class="platform">
                            <img src="assets/android.jpg" *ngIf="!app.isIOS" alt="android" class="platform-img">
                            <img src="assets/apple.jpg" *ngIf="app.isIOS" alt="apple" class="platform-img">
                        </div>
                        <div class="rating"><span class="bold">{{app.rating.toFixed(2)}}</span> / 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="link shadows delete">
        <img class="img" src="assets/delete.jpg" alt="pie">
        Delete Apps
    </div>
</div>