.side-bar-container {
    position: absolute;
    left: 0px;
    top: 50px;
    padding: 0px 5px 5px;
    width: 100%;
    max-width: 305px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    background-color: #d5e7ff;
    height: calc(100vh - 50px);
}

.open {
    left: 0px;
    animation: open 300ms forwards;
}

.close {
    left: -300px;
    animation: close 300ms backwards;
}

@keyframes open {
    from {
        left: -300px;
    }

    to {
        left: 0px;
    }
}

@keyframes close {
    from {
        left: 0px;
    }

    to {
        left: -300px;
    }
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(100%, 100%, 100%, 100%);
    cursor: pointer;

}

.img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}

.link:hover {
    gap: 20px;
    transition-duration: 200ms;
}

hr {
    height: 2px;
    width: 100%;
    background-color: #e7e7e7;
    border: none;
}

.delete {
    background-image: linear-gradient(to left, red 50%, white 80%);
    color: white;
    justify-content: space-between;
}

.delete>.img {
    filter: none;
}

.apps-container {
    width: calc(100% + 10px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: -5px;
    padding: 5px;
}

.apps-container::-webkit-scrollbar {
    width: 3px;
}

.apps {
    width: 100%;
    height: 45px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.apps .img {
    filter: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.platform-img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
    border-radius: 50%;
}

.apps .link {
    padding: 0 5px 0 0;
}

.app {
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: 700;
    font-size: 13px;
}

.rating {
    font-size: 12px;
}

.device {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-delete, .delete-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.inner-delete {
    padding: 10px 0px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.red {
    background-color: #f1664e;
}

.green {
    background-color: #23b66d;
}

@media (max-width: 500px) {
    .side-bar-container {
        max-width: 100%;
    }
    
    .open {
        left: 0px;
        animation: open 300ms forwards;
    }
    
    .close {
        left: -100%;
        animation: close 300ms backwards;
    }
    
    @keyframes open {
        from {
            left: -100%;
        }
    
        to {
            left: 0px;
        }
    }
    
    @keyframes close {
        from {
            left: 0px;
        }
    
        to {
            left: -100%;
        }
    }
}