<div class="card">
    <div class="left d-flex gap-10 w-100 m-b-10">
        <div class="image">
            <img [src]="data.userImage" alt="userImage" class="user-img">
        </div>
        <div class="d-flex w-100 space-between align-center">
            <div class="author">{{data.userName}}</div>
            <div class="version" *ngIf="!!data.version">
                <span class="versionText">Version : </span>
                <span class="versionNumber">{{data.version}}</span>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="stars-container">
            <div class="rate" *ngFor="let star of rating">
                <span *ngIf="!star.shouldHighlight">&#9734;</span>
                <span *ngIf="star.shouldHighlight">&#9733;</span>
            </div>
        </div>
        <div class="title">{{data.title}}</div>
        <div class="content">{{data.text}}</div>
        <div class="sentiment-container">
            <div class="chip" [ngClass]="data.sentiment?.score == 0 ? 'basic': (data.sentiment?.score > 0 ? 'green' : 'red')">
                Sentiment Score : {{data.sentiment?.score}}
            </div>
            <div class="chip green" *ngFor="let positve of data.sentiment?.positive">
                {{positve}}
            </div>
            <div class="chip red" *ngFor="let negative of data.sentiment?.negative">
                {{negative}}
            </div>
        </div>
    </div>
    <div class="right">
        <div class="date">{{data.date | date}}</div>
    </div>
</div>