<div class="top-container sentiment">
    <mat-form-field appearance="outline">
        <mat-label>{{shouldWait ? 'Loading apps '+currentApp + ' / '+totalApps :'Select App'}}</mat-label>
        <mat-select (selectionChange)="appSelected($event)">
            <mat-option *ngFor="let app of apps" [value]="app">
                {{app.appName}} - {{app.isIOS ? 'IOS': 'Android'}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading" (click)="redraw()">
        <div class="text">Shuffle</div>
        <span class="material-symbols-outlined">
            shuffle
        </span>
    </button>
    <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading" (click)="getWordReport()">
        <div class="text">Get Word Report</div>
        <span class="material-symbols-outlined">
            list_alt
        </span>
    </button>
    <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading" (click)="zoomIn()">
        <div class="text">Zoom In</div>
        <span class="material-symbols-outlined">
            zoom_in
        </span>
    </button>
    <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading" (click)="zoomOut()">
        <div class="text">Zoom Out</div>
        <span class="material-symbols-outlined">
            zoom_out
        </span>
    </button>
    <button mat-raised-button class="shuffle-button" *ngIf="!!selectedApp && !loading" (click)="download()">
        <div class="text">Save</div>
        <span class="material-symbols-outlined">
            download
        </span>
    </button>
    <div class="words" *ngIf="!!selectedApp && !loading">
        Word Count : {{words.length}}
    </div>
</div>

<div class="loading-container" *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="canvas-container">
    <canvas #wordCloudContainer id="positive-canvas"></canvas>
</div>