.filter-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-container> div {
    color: white;
}

.mat-chip.mat-standard-chip > .rating-container> div {
    color: var(--active);
}

.mat-chip.mat-standard-chip > .rating-container> div {
    color: var(--active);
}

.mat-rating.mat-chip-selected > .rating-container> div {
    color: white;
}

.mat-chip.mat-standard-chip {
    background-color: transparent;
    border: 2px solid var(--active);
}

.filter-div > mat-form-field {
    width: 200px;
} 

.ratings {
    display: flex;
    gap: 5px;
}

.mat-rating.mat-chip-selected {
    background-color: var(--active);
    color: white;
}

.rating {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.selected {
    position: relative;
    width: 0%;
    height: 100%;
}

.filter-div {
    width: 200px;
}

.example-full-width {
    width: 100%;
}

.check {
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: bisque;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .filter-container {
        gap: 2px;
        height: unset;
    }
}

.mobile-filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2px;
    align-items: center;
}

.filter-button {
    display: flex;
    align-items: center;
    background-color: var(--active);
    width: 200px;
    justify-content: space-between;
}

.filter-img {
    width: 20px;
    height: 25px;
    filter: invert(1);
}

.text {
    color: white;
}

/* Sorting */


.sorting-container {
    display: flex;
    align-items: center;
    background-color: var(--active);
    border-radius: 5px;
    padding: 7px 10px;
    color: white;
    /* font-size: 16px;
    position: sticky;
    top: 53.45px; */
    margin: 0 10px;
}

.left {
    width: 20%;
}

.center {
    width: 65%;
}

.right {
    width: 15%;
}

.sort-box {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 500px) {
    .sorting-container {
        display: none;
    }
}

.compare {
    color: var(--active);
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--active);
    background-color: transparent;
    font-weight: 700;
    outline: none;
}