<div class="filter-container" *ngIf="showFilters">

    <div class="ratings div">
        <!-- <div class="rating" *ngFor="let rate of ratings">
            {{rate.text}}
            <div class="selected">
                <span class="check">&#10003;</span>
            </div>
        </div> -->


        <mat-chip-list multiple>
            <mat-chip color="rating" *ngFor="let rate of ratings" (click)="toggleRatingSelection(rate)"
                selectable="true" [selected]="rate.isSelected">
                <div class="rating-container">
                    <div>{{rate.text}}</div>
                    <div class="bold" *ngIf="rate.isSelected">&#10003;</div>
                </div>
            </mat-chip>
        </mat-chip-list>

    </div>

    <div class="filter-div">
        <form class="example-form">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Search by keyword</mat-label>
                <input matInput placeholder="Search" (keyup)="searchInput($event)" autocomplete="off">
            </mat-form-field>
        </form>
    </div>

    <div class="filter-div">
        <mat-form-field appearance="outline">
            <mat-label>Version</mat-label>
            <mat-select (selectionChange)="versionSelected($event)">
                <mat-option value="-1">All Versions</mat-option>
                <mat-option *ngFor="let version of versions" [value]="version">
                    {{version != null ? version : 'NA'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="filter-div">
        <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <mat-select (selectionChange)="yearSelected($event)">
                <mat-option value="-1">All Years</mat-option>
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year != null ? year : 'NA'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <!-- <mat-form-field appearance="outline">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="sortChange($event)">
            <mat-option *ngFor="let sort of sortingArray" [value]="sort.value">
                {{sort.text}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->

</div>
<div class="sorting-container">
    <div class="sort-box left" (click)="sortByEmit('version')">
        <div class="text">Version</div>
        <mat-icon *ngIf="!versionSorted.sorted">sort</mat-icon>
        <div *ngIf="versionSorted.sorted && versionSorted.type == 'A'">&#8642;</div>
        <div *ngIf="versionSorted.sorted && versionSorted.type == 'D'">&#8638;</div>
    </div>
    <div class="sort-box center" (click)="sortByEmit('rating')">
        <div class="text">Rating</div>
        <mat-icon *ngIf="!ratingSorted.sorted">sort</mat-icon>
        <div *ngIf="ratingSorted.sorted && ratingSorted.type == 'A'">&#8642;</div>
        <div *ngIf="ratingSorted.sorted && ratingSorted.type == 'D'">&#8638;</div>
        
    </div>
    <div class="sort-box right" (click)="sortByEmit('date')">
        <div class="text">Date</div>
        <mat-icon *ngIf="!dateSorted.sorted">sort</mat-icon>
        <div *ngIf="dateSorted.sorted && dateSorted.type == 'A'">&#8642;</div>
        <div *ngIf="dateSorted.sorted && dateSorted.type == 'D'">&#8638;</div>
    </div>
</div>

<div class="mobile-filters" *ngIf="showFilterButton" [ngStyle]="{'height' : showFilters ? 'unset' : '100%'}">
    
    <button mat-flat-button color="primary" class="filter-button" (click)="toggleFilters()">
        <img class="filter-img" src="assets/filter.png" alt="filter">
        <div class="text">{{showFilters ? 'Hide' :'Show'}} Filters</div>
    </button>
</div>