.container-sentiment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.back-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.back-outer-container {
    top: 15px;
    right: 20px;
    position: fixed;
    width: calc(100% - 325px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}