<div class="back-outer-container" (click)="goBack($event)">
    <div class="back-container">
        <div class="material-symbols-outlined">
            arrow_back
        </div>
        Back
    </div>
    <div class="header">
        Showing <span class="bold">{{sentiment}}</span> reviews for <span class="bold">{{app.appName || app.name}} ( {{app.isIOS ? 'IOS': 'Android'}} )</span> with keyword <span class="bold">'{{keyword}}'</span>
    </div>
</div>
<div class="container-sentiment">
    <div class="review" *ngFor="let review of reviews">
        <div class="ios" *ngIf="isIOS">
            <app-card-ios [data]="review"></app-card-ios>
        </div>
        <div class="android" *ngIf="!isIOS">
            <app-card-android [data]="review"></app-card-android>
        </div>
    </div>
</div>
<div class="loading" *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>