<div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading && !!data.getCurrentApp().name">
    <div class="top">
        <div class="filter">
            <app-filters [versions]="versions" [years]="years" (version)="versionFilter($event)"
                (year)="yearFilter($event)" (searchKeyword)="searchSort($event)" (ratingFilter)="ratingFilter($event)"
                (sortBy)="sortByMobile($event)" (shouldOpenAITools)='shouldOpenAITools($event)'
                [versionSorted]="versionSorted" [dateSorted]="dateSorted" [ratingSorted]="ratingSorted"></app-filters>
        </div>
    </div>
    <div class="reviews-and-generative-container">
        <div class="reviews-container" [ngClass]="shouldOpen ? 'closed' : 'open'">
            <div class="apps-container" *ngFor="let review of androidReviews">
                <app-card-android [data]="review"></app-card-android>
            </div>
            <div class="apps-container" *ngFor="let review of iosReviews">
                <app-card-ios [data]="review"></app-card-ios>
            </div>
        </div>
        <div class="generative-container" [ngClass]="shouldOpen ? 'open' : 'closed'">
            <app-generative [androidReviews]="androidReviews" [iosReviews]="iosReviews"></app-generative>
        </div>
    </div>
</div>