.container {
    width: 100%;
    margin: 40px 0px;
}

.tabs-top {
    display: flex;
    gap: 30px;
}

.tab,
.material-symbols-outlined {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    color: var(--primary);
    font-weight: 700;
    transition: border 100ms ease-out;
}

.material-symbols-outlined {
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
}

.active-tab {
    border-bottom: 3px solid var(--accent);
}

.inactive-tab {
    border-bottom: 3px solid transparent;
}

.tab-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 35px;
}

.chart {
    height: 375px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--accent);
    position: relative;
}

.name-container {
    position: absolute;
    top: -24px;
    right: 10px;
    padding: 0 15px;
    height: 48px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 12;
    border-radius: 10px;
    min-width: 200px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.platform {
    font-size: 12px;
    color: #5c5c5c;
}

.fav .material-symbols-outlined {
    font-size: 30px;
    font-weight: 800;
    color: var(--primary);
}

/* apx-chart {
    pointer-events: none;
} */

.show {
    display: block;
}

.hide {
    display: none;
}

.arrow {
    position: absolute;
    right: -17px;
    top: calc(50% - 17px);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
    color: var(--accent-dark);
}

.arrow .material-symbols-outlined {
    color: var(--accent-dark);
}

.svg {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    opacity: 0.3;
}

@media (max-width: 576px) {
    .container {
        margin: 32px;
    }
}