<div class="container" *ngIf="!loading">
  <div class="chart-container" [ngClass]="!!chart ? 'shadows': ''" *ngFor="let app of apps; let i = index">
    <div class="chart-inner">
      <div class="app-name" *ngIf="!!chart">
        {{getAppName(app.appName)}}
        <div class="type" (click)="togglePage(i)">
          <mat-icon *ngIf="app.type == 'bar'"> pie_chart</mat-icon>
          <mat-icon *ngIf="app.type == 'pie'"> bar_chart</mat-icon>
        </div>
      </div>


      <div class="canvas-container" [id]="'canvas'+i">
        <canvas [id]="app.appName+'pie'">{{ chart }}</canvas>
        <canvas [id]="app.appName+'bar'">{{ chart }}</canvas>
      </div>

      <div class="title" *ngIf="!!chart">
        <span *ngIf="app.type == 'pie'">Ratings By Percentage</span>
        <span *ngIf="app.type == 'bar'">Ratings By Count</span>
      </div>
    </div>
  </div>
</div>

<div class="loading-container" *ngIf="loading">
  Loading Dashboard ... <span class="smaller">{{appLoading}} apps loaded out of {{this.dataService.getTotalApps() == 0 ? 10 : this.dataService.getTotalApps()}} apps.</span>
  <div class="progress-bar">
    <mat-progress-bar mode="determinate" [value]="loadingPercent"></mat-progress-bar>
  </div>
</div>