* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cabin, sans-serif;
}

:root {
    --accent: #E9F5F3;
    --accent-dark: #198b83;
    --accent-other: #1ca58e;
    --active: #6DBCB7;
    --green: #6cc297;
    --red: #e18888;
    --mat-mdc-snack-bar-button-color: var(--accent) !important;
    --mdc-snackbar-container-color: var(--active) !important;
}

.mat-snack-bar-container {
    color: white;
    background: var(--accent-dark);
}

.mat-simple-snackbar-action {
    color: var(--accent);
}

.mat-simple-snackbar {
    font-size: 16px;
}

html {
    background-color: var(--accent);
}

body {
    background-color: var(--accent);
    overflow: hidden;
}

.shadow,
.shadows {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.sentiment .mat-button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}


::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* html, body { height: 100%; } */
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-chip-list-wrapper {
    justify-content: center;
}

.checkbox>.material-icons {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.bold {
    font-weight: 700;
}

.filter-button span.mat-button-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--active);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--active);
}

.mat-focused {
    border-color: var(--active);
    color: black;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 1px solid var(--active);
}

.email>.mat-form-field-wrapper {
    width: 100%;
    max-width: 400px;
}

span.mat-checkbox-label {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 768px) {
    .cdk-overlay-pane {
        max-width: 100vw !important;
    }

    .sentiment .mat-button-wrapper {
        display: flex;
        align-items: center;
        gap: 0px;
        justify-content: center;
    }
    
}