* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cabin, sans-serif;
    color: #414141;
}

.body {
    background-color: #ededed;
}

.shadow, .shadows {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}


::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}