* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cabin, sans-serif;
}

.body {
    background-color: #ededed;
    overflow: hidden;
}

.shadow, .shadows {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}


::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-chip-list-wrapper {
    justify-content: center;
}

.checkbox > .material-icons {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}