<div class="container">
    <div class="text">{{this.histogram["1"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["2"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["3"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["4"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["5"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
    </div>
</div>

<div class="number-container">
    <div><span class="bold">{{ratingsNo}}</span>&nbsp;&nbsp;<span class="italic">Ratings</span></div>
    <div><span class="bold">{{reviewsNo}}</span>&nbsp;&nbsp;<span class="italic">Reviews</span></div>
</div>