<div class="container">
    <div class="text">{{this.histogram["1"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["2"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["3"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["4"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9734;</span>
    </div>
</div>
<div class="container">
    <div class="text">{{this.histogram["5"]}}</div>
    <div class="histogram">
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
        <span>&#9733;</span>
    </div>
</div>