.container {
    display: flex;
    align-items: center;
    /* height: 15px; */
    /* width: 105px; */
    justify-content: space-between;
    flex-direction: column-reverse;
}

.d-flex {
    display: flex;
    gap: 35px;
    align-items: center;
}

.margin-left {
    margin-left: 80px;
}

.text {
    width: unset;
    line-height: 15px;
    font-size: 12px;
    color: var(--accent-dark);
}

.hide {
    color: var(--accent-dark);
}

.histogram span {
    line-height: 15px;
    font-size: 15px;
}

.star-filled {
    color: var(--gold);
}

.star-empty {
    color: var(--accent-other);
}

@media (max-width: 768px) {
    .histogram span {
        line-height: 8px;
        font-size: 8px;
    }

    .d-flex {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .main-container {
        gap: 0px 8px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hide {
        display: none;
    }
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.number-container {
    margin-top: 10px;
    border-top: 1px solid black;
    display: flex;
    width: 105px;
    flex-direction: column;
}

.number-container>div {
    width: 100%;
    display: flex;
    justify-content: space-between;

}