.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.data-container>div {
  width: 100%;
  font-size: 15px;
}

.text-center {
  text-align: center;
}

.flex-container>div>img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.outer {
  display: flex;
  width: 100%;
  padding: 20px;
}

.stars {
  font-size: 20px;
  /* color: #818181; */
}

.header {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  font-weight: 700;
  gap: 5px;
}

.item {
  background-color: #e7e7e7;
  padding: 8px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: 17px;
}

.columns>.item {
  background-color: #dddddd;
}

.chart-container {
  padding: 20px;
}

.app-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
  font-weight: 700;
}

.smaller {
    font-size: 15px;
}

.word-container {
  min-height: 38px !important;
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.positive {
  color: #007A58;
}

.negative {
  color: #E74B58;
}

.neutral {
  color: #bb844c;
}

@media (max-width: 500px) {
  .flex-container>div>img {
    width: 20px;
    height: 20px;
  }

  .outer {
    padding: 0px;
  }

  .chart-container {
    padding: 0px;
    margin-top: 20px;
  }

  .large {
    font-size: 15px;
  }

  .stars {
    font-size: 15px;
    /* color: #818181; */
  }

  .data-container>div {
    font-size: 12px;
  }

  .header {
    height: 70px;
    flex-direction: column;
    gap: 0px;
  }

  .item {
    min-height: 50px;
    height: 100%;
    padding: 8px 4px;
  }
}